
.searchbox{
    width:50%;
    height:30px;
    padding:10px;
}
.btn{
    height:50px;
    padding:10px;
    margin:10px;
}
.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table1 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table1 tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.singup{
    margin:30px;
}

.active {
    background-color: #4CAF50;
}

