<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/search.js"></script>
<link rel="stylesheet" href="./css/style.css" />
<script >
   
    
</script>
</head>
<body>

<div ng-app="myApp" > 
<div ng-controller="customersCtrl">
<ul>
  <h1><li><a href="#">Hello!   {{user}}</a></li></h1>
  <h1 ng-if="user != '' && user!=null "><li><a href="."  >Log out</a></li></h1>

</ul>

  <form>
    username<input type="text" name="name" ng-model="username"  required class="singup" />
    email<input type="email" name="email" ng-model="email" required  class="singup" />
    password <input type="password" name="password" ng-model="password" required  class="singup" />
    <button ng-click="signup()">sign up</button> <button ng-click="signin()">sign in</button>
    </form>
    


    
    


<form>
    <input type="text" ng-model="keyword" class="searchbox" placeholder="enter ingredients" required/> <input type=submit ng-click="myFunc6()" class="btn"></button> 
</form>
<table class="table1">
    <tr><th>Search Results:</th></tr>
    <tr>
    <th>RecipeId</th>
    <th>title</th>
    <th>image</th>
    <th>Url</th>
     <th></th>
  </tr>
  <tr ng-repeat="x in data" >
    <td >{{ x.recipeId }} </td>
    <td>{{ x.title }}</td>
    <td><img ng-src="{{ x.image }}" width="100" ></td>
    <td>{{ x.url }}</td>
    <td><button class="btn" ng-click="save(x)" >LIKE</button></td>
  </tr>
</table>

<table class="table1"><tr><th>Mylist</th><th><button ng-click="getList()" >Refresh My list</button></th></tr>
    <tr>
    <th>RecipeId</th>
    <th>title</th>
    <th>image</th>
    <th>Url</th>
    
     <th></th>
  </tr>
  <tr>
      <td>Update Data</td>
      <td><input type="text" name="newtitle" ng-model="newtitle" /></td>
      <td><input type="text" name="newimage" ng-model="newimage" /></td>
      <td><input type="text" name="newurl" ng-model="newurl" /></td>
      <td></td>
  </tr>
  <tr ng-repeat="x in mylist" >
    <td >{{ x.recipeId }} </td>
    <td >{{ x.title }}</td>
    <td><img ng-src="{{ x.image }}" width="100" ></td>
    <td>{{ x.url }}</td>
    <td><button class="btn" ng-click="update(x)">Update</button><button class="btn" ng-click="delete(x)">DEL</button></td>
  </tr>
  
 
</table>


</div>

</div>

<script>

</script>

</body>
</html>